// Fonts
@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');

// Variables
$dark-purple: #8e40ce;
$light-purple: #f1e0ff;

$dark-green: #39a851;
$light-green: #e2ffe9;
$green : #85bb65;

$dark-pink: #f76cad;
$light-pink: #ffddea;

$dark-blue: #4286f4;
$light-blue: #d8e7ff;

.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'fugaz one', sans-serif;
  height: 100%;

  h1 {
    color: #fff;
    text-shadow: 2px 0px 4px $green;
  }
}

.nav-bar {
  width: 100%;
  background: $light-green;
  height: 50px;
  align-items: center;
  
  .nav-link {
    font-size: 2rem;
    color: $dark-green;
    text-decoration: none;
    margin-right: 2rem;

    &:hover {
      color: $dark-pink;
    }
  }
  .float-right{
    float: right;
    margin-top: 1rem;
  }
  .float-left{
    float: left;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.form-card {
  margin: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .field {
    width: 100%;
    max-width: 500px;

    select {
      border: 2px solid $green !important;
    }

    .error {
      color: $dark-pink;
    }

    .worker-search {
      border: 2px solid $green !important;
    }
  }
}

.tip-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 90%;
  margin: 0 auto;

  .tip-card {
    border: 1px solid #000;
    border-radius: 2px;
    max-width: 250px;
    margin: 1rem;
    padding: 1rem;
  }
}

.worker-search {
  color: white;
}

.workers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  margin: 0 auto;

  .workers-grid-item {
    border-radius: 5px;
    max-width: 250px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 6px 1px rgb(133,187,101);
    background: white;
  }
}

.worker-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  

  .worker-info {
    flex: 1 0 auto;

      .worker-thumbnail {
        border-radius: 5px;
        width: 100%;
      }
  }

  .worker-card-buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    .ui.button {
      width: 50%;
    }
  }
}

.worker-page > * {
  color: white;
}

.ui.button {
  background: $green !important;

  &:hover {
    background: $dark-green !important;
  }
}

.ui.form .field>label {
  color: white !important;
}